.filtrer{
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.filtrer:hover{
  cursor: pointer;
  color: #DA1C1C;
}

.filtrer:hover svg path{
  stroke: #DA1C1C;
}

.filtrer span{
  position: relative;
  top: 10px;
  font-size: 24px;
}