:root {
    --main-bg-color: #FFF;
    --main-width:100%;
    --main-height: 100vh;
    --font-family:'Inder';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.LoginPage {
    position: relative;
    width: var(--main-width);
    height: var(--main-height);
    overflow: hidden;
    background: var(--main-bg-color);
}

.LoginBackgound {
    position: absolute;
    width: 100%;
    /* height: var(--main-height); */
    left: 0;
    top: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.LoginLogo {
    position: absolute;
    width: 97px;
    height: 110px;
    left: 65px;
    top: 45px;
}

.LoginLogoName {
    position: absolute;
    width: 156px;
    height: 41px;
    left: 65px;
    top: 150px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 45px;

    color: #DA1C1C;
}

.overBackround {
    position: absolute;
    width: var(--main-width);
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(173, 221, 70, 0.3);
}

.LoginForm {
    position: relative;
    left: 66vw;
    top: 48vh;
}

.LoginForm>form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 340px;
    height: 308px;
    background: var(--main-bg-color);
    border-radius: 15px;
}

.LoginForm>form>p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    margin: 0px 20px;
}

.LoginForm>form>#userName {
    box-sizing: border-box;
    width: 87%;
    height: 52px;
}

.LoginForm>form>#userPass {
    box-sizing: border-box;
    width: 87%;
    height: 52px;
}

.LoginForm>form>input {
    padding: 0 15px;
    background: var(--main-bg-color);
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 0px 20px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;

    color: #625F5F;
}

.LoginForm>form>.loginSubmit {
    padding: 0 15px;
    cursor: pointer;
    width: 87%;
    height: 52px;
    margin: 0px 20px;
    background: #ca1919;
    border-radius: 10px;
    border: none;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: start;
    color: #FFFFFF;
}

.LoginForm>form>.loginSubmit:hover {
    background-color: #ca1919;
    box-shadow: 2px 2px 2px rgb(229, 229, 229);
    transition-property: bottom;
    transition-duration: 3s;
    position: relative;
    bottom: 5px;
}