:root {
    --main-bg-color: #FFF;
    --main-width:100%;
    --main-height: 100vh;
    --font-family:'Inder';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.LoginPage {
    position: relative;
    width: var(--main-width);
    height: var(--main-height);
    overflow: hidden;
    background: var(--main-bg-color);
}

.LoginBackgound {
    position: absolute;
    width: var(--main-width);
    /* height: var(--main-height); */
    left: 0;
    top: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.LoginLogo {
    position: absolute;
    width: 127px;
    height: 145px;
    left: calc(40px * 2);
    top: calc(32px * 2);
}

.LoginLogoName {
    position: absolute;
    width: 156px;
    height: 41px;
    left: calc(40px * 2);
    top: calc(177px + 32px);

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;

    color: #DA1C1C;
}

.overBackround {
    position: absolute;
    width: var(--main-width);
    height: var(--main-height);
    left: 0px;
    top: 0px;

    background: rgba(164, 201, 84, 0.3);
}

.LoginForm {
    position: absolute;
    width: calc(470px + 100px);
    height: calc(445px + 100px);
    left: calc(860px * 2);
    top: 428px;
}

.LoginForm>form {
    position: absolute;
    width: calc(427px + 100px);
    height: calc(438px + 100px);
    left: calc(22px * 2);
    top: calc(-14px * 2);

    background: var(--main-bg-color);
    border-radius: 15px;
}

.LoginForm>form>p {
    position: absolute;
    width: 301px;
    height: 80px;
    left: calc( 71px + 15px );
    top: calc(50% - 80px/2 - 141.5px);

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #000000;
}

.LoginForm>form>#userName {
    box-sizing: border-box;

    position: absolute;
    width: 327px;
    height: 62px;
    left: calc( 71px + 15px );
    top: calc(121px + 50px);
}

.LoginForm>form>#userPass {
    box-sizing: border-box;

    position: absolute;
    width: 327px;
    height: 62px;
    left: calc( 71px + 15px );
    top: calc(217px + 50px);
}

.LoginForm>form>input {
    padding: 0 15px;
    background: var(--main-bg-color);
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;

    color: #625F5F;
}

.LoginForm>form>.loginSubmit {
    position: absolute;
    width: 327px;
    height: 62px;
    left: calc( 71px + 15px );
    top: calc(313px + 50px);

    background: #DA1C1C;
    border-radius: 10px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #FFFFFF;
}